.transactions-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.transaction {
  font-size: small;
  font-weight: 200;
  display: flex;
  align-items: center;
  background-color: var(--card-background);
  justify-content: space-between;
  color: var(--text-color);
}

.transaction-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.transaction-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 15px;
}

.transaction-amount.plus {
  color: var(--income-color);
}

.transaction-amount.minus {
  color: var(--expense-color);
}

.icon {
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  margin-right: 10px;
}

.icon.plus {
  background-color: var(--income-color);
}

.icon.minus {
  background-color: var(--expense-color);
}

.fixed-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  z-index: 2;
}
