.header {
  background-color: var(--primary-color);
  color: white;
  align-items: center;
  padding: 15px 0;
  flex-wrap: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  justify-content: start;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow-x: auto;
  white-space: nowrap;
  min-height: 60px;
}

@media (min-width: 992px) {
  .header {
    justify-content: center;
  }
}

.header::-webkit-scrollbar {
  display: none;
}

.header > div {
  display: inline-block;
  margin-right: 10px;
  padding: 0 10px;
}

.bold {
  font-weight: 700;
  font-size: larger;
}

.date {
  font-size: small;
}

.theme-button {
  color: white;
  font-size: 1.5rem;
  padding: 5px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-toggle {
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 100;
}
